*:not(pre *) {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.dark .slidev-slide-content {
    background: linear-gradient(180deg, #1b1542 0%, #331c63 50%, #4f2583 60%, #341b5a 65%, #110f37 75%, rgba(9,13,40,1) 100%) !important;
}

/*h1 {
    color: #0078cf !important;
}*/

/*h2 {
    color: #6ba3cc ;
    padding-bottom: 1.875rem;
}*/