*:not(pre *) {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.dark .slidev-slide-content {
    background: #f5f7f9 !important;
}

/*h1 {
    color: #0078cf !important;
}*/

/*h2 {
    color: #6ba3cc ;
    padding-bottom: 1.875rem;
}*/