*:not(pre *) {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.dark .slidev-slide-content {
    background: #f5f7f9 !important;
}

.slidev-page-1 .slidev-layout.cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4)), url("https://woody.cloudly.space/app/uploads/aubracgorgesdutarn/2023/11/thumbs/Copyright-_Remi_Flament_-_PACT_GDT_CRTLOccitanie_0037778_MD-1920x960.jpg") !important;
}

.old-times {
  color: #3a2010 !important;
}

.old-bg {
  position: absolute;
  z-index: -1;
  inset: 0px;
  background: radial-gradient(ellipse at center, #d4b896 0%, #c4a67a 30%, #a08050 100%);
  transition: opacity 1s ease;
}
.pigment-bg-1 {
  position: absolute;
  z-index: -1;
  inset: 0px;
  background-image: url(/assets/gradient-shape-CHYWUDiD.svg);
  background-size: cover;
}
.pigment-bg-2 {
  position: absolute;
  z-index: -1;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(80px);
}

.hide-bg {
  opacity: 0;
}

h1, h2, h3, p {
  transition: color 1s ease;
}

.slidev-layout h1 + p {
    opacity: 1;
}

.line-through {
  text-decoration-line: line-through;
}

.disappear {
  animation: disappear 0.5s ease forwards;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

/*h1 {
    color: #0078cf !important;
}*/

/*h2 {
    color: #6ba3cc ;
    padding-bottom: 1.875rem;
}*/