.vertical-spacer {
  height: 48px;
}
.styleless-image {
  border: none !important;
  background: none !important;
  margin: 0px !important;
}
.footer-github {
  filter: invert(0);
  transition: all 0.2s ease;
}
.has-light-background + div .footer-github {
  filter: invert(0.7);
}

.reveal {
  font-size: 36px;
}

.reveal pre code {
  background: none;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-weight: normal;
  text-transform: none;
}

.reveal h1 + .more,
.reveal h2 + .more,
.reveal h3 + .more,
.reveal h4 + .more,
.reveal h5 + .more,
.reveal h6 + .more {
  margin-top: -20px;
}

.reveal .more {
  color: #777872;
}

.reveal a,
h3 {
  color: #00ccff !important;
  text-decoration: none;
}
.reveal a:hover,
h2 {
  color: #008bff !important;
  text-decoration: none;
}

.reveal blockquote,
.reveal p.quote {
  margin: 0;
  text-align: justify;
  font-style: italic;
  margin-right: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 1em;
  font-size: 0.9em;
  border-left: 1px navajowhite solid;
}
.reveal blockquote::before,
.reveal p.quote::before {
  content: "\201C";
  font-size: 2em;
  float: left;
  color: white;
  margin-left: -1em;
}

.reveal p.quote-right {
  margin: 0;
  text-align: right;
  font-style: italic;
  margin-left: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 1em;
  font-size: 0.9em;
  border-right: 1px navajowhite solid;
}
.reveal p.quote-right::after {
  content: "\201C";
  font-size: 2em;
  float: right;
  color: white;
  margin-right: -1em;
}

em {
  color: #00ccff;
  font-style: normal;
  font-weight: normal;
}

li {
  color: #d3d3d3;
}

li.active,
.left-menu > li:last-child,
.left-menu > li:last-child > ul > li:last-child {
  color: #f37723;
}

.reveal ol {
  counter-reset: step-counter;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.reveal ol li {
  counter-increment: step-counter;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reveal ol li:before {
  content: counter(step-counter, upper-roman);
  color: #f37723;
  float: left;
}

.reveal .vsmallnote {
  font-style: italic;
  font-size: 0.5em;
  color: #777872;
}

.reveal .slide-number {
  background-color: inherit !important;
}
